<!-- Slide -->
<section class="camera_wrap camera_white_skin" id="slide">

    <!-- Item Slide style_one-->
    <div data-src="@Url.Content("~/themes/orchardharvest.theme2014/images/slide/slides/1.jpg")">
        <div>
            <div class="container">
                <div class="row">
                    <!-- Item Boxes Info -->
                    <div class="col-md-12 animated bounceInDown delay1">
                        <h1 class="uber-statement">
                            Orchard Harvest<br />
                            Redmond, WA<br />
                            Monday - Wednesday<br />
                            June 09 - 11
                        </h1>
                    </div>
                    <!-- End Item Boxes Info -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Item Slide style_one -->
    @*<!-- Item Slide style_one-->
        <div data-src="@Url.Content("~/themes/orchardharvest.theme2014/images/slide/slides/1.jpg")">
            <div class="style_one">
                <div class="container">
                    <div class="row">
                        <!-- Item Boxes Info -->
                        <div class="col-md-4 animated bounceInDown delay1">
                            <div class="boxes-info">
                                <h3>FULLY RESPONSIVE<i class="fa fa-thumbs-up"></i></h3>
                                <h5>THIS IS AN EXAMPLE OF BOX SUBTITLE</h5>
                                <p>Pellentesque habitant morbi senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam.</p>
                            </div>
                        </div>
                        <!-- End Item Boxes Info -->
                        <!-- Item Boxes Info -->
                        <div class="col-md-4 animated bounceInDown delay2">
                            <div class="boxes-info">
                                <h3>RETINA DISPLAY<i class="fa fa-apple"></i></h3>
                                <h5>THIS IS AN EXAMPLE OF BOX SUBTITLE</h5>
                                <p>Pellentesque habitant morbi senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam.</p>
                            </div>
                        </div>
                        <!-- End Item Boxes Info -->
                        <!-- Item Boxes Info -->
                        <div class="col-md-4 animated bounceInDown delay3">
                            <div class="boxes-info">
                                <h3>BOOTSTRAP 3.0<i class="fa fa-android"></i></h3>
                                <h5>THIS IS AN EXAMPLE OF BOX SUBTITLE</h5>
                                <p>Pellentesque habitant morbi senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam.</p>
                            </div>
                        </div>
                        <!-- End Item Boxes Info -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Item Slide style_one -->*@
    @*<!-- Item Slide style_one-->
        <div data-src="@Url.Content("~/themes/orchardharvest.theme2014/images/slide/slides/2.jpg")">
            <div class="style_one">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="animated bounceInRight delay1">
                                CORPORATE WEBSITE
                                <span>
                                    <span> RESPONSIVE </span> DESING
                                </span>
                            </h1>
                            <p class="lead animated bounceInUp delay2">We develop original products, innovative and  quality high.</p>
                            <a class="btn btn-lg btn-primary animated bounceInUp delay3" href="#">View More</a>
                        </div>
                        <div class="col-md-4">
                            <img src="~/themes/orchardharvest.theme2014/images/slide/1.png" alt="" class="img-responsive animated bounceInDown delay4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Item Slide style_one -->
        <!-- Item Slide style_two-->
        <div data-src="@Url.Content("~/themes/orchardharvest.theme2014/images/slide/slides/3.jpg")">
            <div class="style_two">
                <h1 class="animated bounceInDown delay1">
                    CLEAN AND EASY
                    <span>
                        BASED  ON BOOTSTRAP 3.0
                        <span class="border"></span>
                    </span>
                </h1>
                <p class="lead animated bounceInUp delay2">We develop original products, innovative and  quality high.</p>
                <a class="btn btn-lg btn-primary animated bounceInUp delay3" href="#">View More</a>
            </div>
        </div>
        <!-- End Item Slide style_two -->
        <!-- Item Slide style_one no picture-->
        <div data-src="@Url.Content("~/themes/orchardharvest.theme2014/images/slide/slides/4.jpg")">
            <div class="style_one">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="animated bounceInRight delay1">
                                UNIQUE TEMPLATE
                                <span>
                                    <span> RETINA </span> DISPLAY
                                </span>
                            </h1>
                            <p class="lead animated bounceInUp delay2">We develop original products, innovative and  quality high.</p>
                            <a class="btn btn-lg btn-primary animated bounceInUp delay3" href="#">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Item Slide style_one no picture-->*@

</section>
<!-- End Slide -->